<div>
  <div id="top">
    <div id="top-left">
      <address class="flex-column">
        <a href="https://www.instagram.com/artsbybebe/">
          <div class="flex-row center-items">
            <img
              id="contact-logo"
              src="https://external-content.duckduckgo.com/ip3/www.instagram.com.ico"
              alt=""
            />
            Instagram
          </div>
        </a>
        <a href="mailto:artsbybebe@gmail.com">
          <div class="flex-row center-items">
            <img id="contact-logo" src="assets/images/mail.svg" alt="" />
            Mail
          </div>
        </a>
      </address>
    </div>
    <div id="top-center">
      <a href="/">
        <h1 id="title">ArtsByBebe</h1>
      </a>
    </div>
  </div>
  <nav>
    <ul id="links" class="flex-row flex-center">
      <li>
        <a href="about.html">Om mig</a>
      </li>
      <li>
        <a href="gallery.html">Galleri</a>
      </li>
      <li>
        <a href="contact.html">Kontakt</a>
      </li>
    </ul>
  </nav>
</div>
