<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galleri</title>
    <script src="components/header/header.js" type="text/javascript"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header-component></header-component>
    <div id="content">
      <div class="flex-column flex-center" style="background-color: aliceblue">
        <section class="image-card">
          <img src="assets/images/art/notes.jpg" alt="" class="gallery-img" />
          <p>
            Konst har alltid varit en stor del av mitt liv. Många gånger en
            frihetskänslas från min verklighet till någon form av ro. Konst är
            för var idivids ögon. Som mitt egna talesätt "Small stuff, Big
            happiness"
          </p>
        </section>
        <section class="image-card">
          <img src="assets/images/art/round_painting.jpg" class="gallery-img" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum
            magni, cum iusto placeat laboriosam corrupti impedit sunt cumque
            minus. Iure commodi quas optio asperiores voluptatum quam ullam
            dolore modi. Quisquam officia id possimus impedit asperiores,
            dignissimos dicta eos dolor praesentium, deleniti exercitationem
            natus modi, vitae suscipit laudantium adipisci eaque placeat!
          </p>
        </section>
        <section class="image-card">
          <img
            src="assets/images/art/canvas_paintbrush.jpg"
            class="gallery-img"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis
            fugiat amet nisi dolorum quia modi animi adipisci saepe magni ea
            consequatur repellat vitae voluptatem, provident voluptatum expedita
            in hic aliquid ab? Eveniet necessitatibus dolores temporibus
            nesciunt ipsum aperiam ea eum?
          </p>
        </section>
      </div>
    </div>
  </body>
</html>
